

@font-face {
    font-family: Arial, sans-serif;
    src: url();
}

.SearchForm{
  padding: 50px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}


button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #f321f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}

button:hover {
  background: #145a4f;
}

.inputForm::after {
  content: "";
  clear: both;
  display: table;
}

h2{
 
  color: white;
}